<h1><%= @movie.title %></h1>
<iframe src= "<%= @movie.trailer(params[:id]) %> "height=1024 width=768></iframe>

<h6>Genre: <%= @movie.genre %> Duration: <%= @movie.duration %></h6>
<p><%= @movie.description %></p>
<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>
<h2>Comments</h2>
<% @movie.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>
  <%= link_to 'Edit Comment', edit_movie_comment_path(@movie, comment) %>
  <%= link_to 'Delete', [@movie, @comment], method: :delete%>
  <% end %>
<hr />